<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithm Visualizer</title>
    <link rel="shortcut icon" href="favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="About.css">
   
</head>
<body>
    <form action="/About" method="post">
    <div class="container">
        <span id="icon-close"><ion-icon name="close-circle-outline"></ion-icon></span>
    <header>
        <h1>About</h1>
    </header>
    <p>Welcome to our Algorithm Visualizer, a dynamic platform designed to simplify the complexities of algorithms through interactive visualizations. Whether you're a student, educator, or programming enthusiast, our tool transforms abstract concepts into engaging visual experiences. Explore a variety of algorithms, from sorting and searching to advanced data structures, all presented with intuitive graphics and step-by-step animations. With user-friendly controls, you can pause, rewind, and manipulate the visualizations to deepen your understanding. Our goal is to make learning algorithms accessible and enjoyable for everyone. Dive in, experiment, and watch your knowledge grow! Together, let's unlock the power of algorithms and empower your coding journey. Click the button below to explore more about our developers and the vision behind this website!</p>
    <button class="dev" href="/Aboutme">About Developer</button>
    <button class="web">About Website</button>
    </div> </form>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
 <script src="About.js"></script>

</body>
</html>
